.a1 {
  background-color: blue;
  grid-area: 2/4;
}
.a2 {
  background-color: red;
}
.a3 {
  background-color: green;
}
.a4 {
  background-color: yellow;
}
.a5 {
  background-color: black;
}
.a6 {
  background-color: purple;
}
.a7 {
  background-color: orange;
}
.a8 {
  background-color: rgba(0, 174, 255, 0.818);
  grid-row: 1;
  grid-column: 2;
}
.main {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 10px;
  justify-content: center;
  /* align-items: stretch; */
  /* justify-items: end; */
  align-content: space-between;
}
